{% extends 'base.html' %}

{% block header %}
  <h1 class="text-center">{% block title %}A.I. POWERED UNIVERSITY MATCHING {% endblock %}</h1>
{% endblock %}

{% block content %}
 <form method="post">
    <label for="username">What is your preferred major?</label>
    <input name="username" id="username" required>

	 <div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-light" ><a href="{{ url_for('questionary.q2') }}">Previous</a></button>

  <button type="button" class="btn btn-light" ><a href="{{ url_for('questionary.q2') }}">Next</a></button>
 </div>
  </form>
{% endblock %}
